{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <div class="box-content">
        <h1>Panel logowania</h1>
    </div>

    <div class="box-content-2">
        <div class="container">
            <div class="row">
                <div class="login-form mt-4 p-4">
                    <h2>Two factory authentication</h2>
                    <p>Open your Autenticator app and type in the number.</p>

                    {# Authentication errors #}
                    {% if authenticationError %}
                        <div class="alert alert-danger">{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</div>
                    {% endif %}

                    <form class="form" action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post">
                        <p class="widget">
                            <input
                                    id="_auth_code"
                                    type="text"
                                    name="{{ authCodeParameterName }}"
                                    autocomplete="one-time-code"
                                    class="form-control"
                                    autofocus
                                    {#
                                    https://www.twilio.com/blog/html-attributes-two-factor-authentication-autocomplete
                                    If your 2fa methods are using numeric codes only, add these attributes for better user experience:
                                    inputmode="numeric"
                                    pattern="[0-9]*"
                                    #}
                            />
                        </p>

                        {% if displayTrustedOption %}
                            <p class="widget"><label for="_trusted"><input id="_trusted" type="checkbox" name="{{ trustedParameterName }}" /> {{ "trusted"|trans({}, 'SchebTwoFactorBundle') }}</label></p>
                        {% endif %}
                        {% if isCsrfProtectionEnabled %}
                            <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
                        {% endif %}

                        {# The logout link gives the user a way out if they can't complete two-factor authentication #}
                        <a class="btn but-link" href="{{ logoutPath }}">{{ "cancel"|trans({}, 'SchebTwoFactorBundle') }}</a>


                        <button class="btn btn-primary" type="submit" value="{{ "login"|trans({}, 'SchebTwoFactorBundle') }}" >Login</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
