<li class="blog-list-element">
    <a href="{{ path('docShow', { "docId": doc.id }) }}">
        <div class="blog-title">
            <h2>{{ doc.title }}</h2>
            {% if doc.lead %}
                <span>{{ doc.lead }}</span>
            {% endif %}
        </div>
        <span class="read-more">Czytaj więcej &raquo;</span>
    </a>
    <div class="blog-bar">
        <div class="blog-bar">
            {% if date(doc.createdDate) >  ( date("-1 month")) %}
                <div class="blog-date">
                    Data dodania:
                    <span>{{ doc.createdDate | ago }}</span>
                </div>
            {% else %}
                <div class="blog-date">
                    Data dodania:
                    <span>{{ doc.createdDate | date("d-m-Y") }}</span>
                </div>
            {% endif %}
            {% if (doc.tags | length) > 0 %}
                <div class="blog-tags">
                    Tags:
                    {% for tag in doc.tags %}
                        <span>#{{ tag.name }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</li>