{% extends 'base.html.twig' %}

{% block title %}Hello DocController!{% endblock %}

{% block body %}

    <div class="box-content">
        <h1>Lista dokumentów</h1>
    </div>

    <div class="box-content-2">
        <ul class="blog-list">
            {% for doc in docList %}
                <div class="blog-list-element">
                    <a href="{{ path('docShow', { "docId": doc.id }) }}">
                        <div class="blog-title">
                            <h2>{{ doc.title }}</h2>
                            {% if doc.lead %}
                            <span>{{ doc.lead }}</span>
                            {% endif %}
                        </div>
                        <span class="read-more">Czytaj więcej &raquo;</span>
                    </a>
                    <div class="blog-bar">
                        <div class="blog-bar">
                            {% if date(doc.createdDate) >  ( date("-1 month")) %}
                                <span>Data dodania: </span>{{ doc.createdDate | ago }}
                            {% else %}
                                <span>Data dodania: </span>{{ doc.createdDate | date("d-m-Y") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
