{% extends 'base.html.twig' %}

{% block title %}Hello DocController!{% endblock %}

{% block body %}

    <div class="box-content">
        <h1>Lista dokumentów</h1>
    </div>

    <div class="box-content-2">
        <ul class="blog-list">
            {% for doc in docList %}
                <div class="blog-list-element">
                    <div class="blog-title">
                        <h2>{{ doc.title }}</h2>
                        {% if doc.lead %}
                        <span>{{ doc.lead }}</span>
                        {% endif %}
                    </div>
                    <div class="blog-content">
                        <p>{{ doc.content }}</p>
                    </div>
                    <div class="blog-bar">
                        <div class="blog-bar">
                            {% if doc.createdDate | date() >=  "now - 1 days" | date() %}
                                <span>Data dodania: </span>{{ doc.createdDate | ago }}
                            {% else %}
                                <span>Data dodania: </span>{{ doc.createdDate | date("d-m-Y") }}
                            {% endif %}
                        </div>
                    </div>
                    <a href="/doc/show/{{ doc.id }}"><span>Zobacz więcej &raquo;</span></a>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
