{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="box-content">
    <h1>Sing Up</h1>
</div>

<div class="box-content-2">

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstName, {
            label: 'First Name'
        }) }}
        {{ form_row(registrationForm.lastName, {
            label: 'Last Name'
        }) }}

        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
